:root {
    --main-color: #ffdf00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex;
    align-items: center;
    align-self: center;
    background: #222;
}

a {
    text-decoration: none;
}

.projects {
    position: relative;
    padding: 40px;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    
}

.projects .box {
    background: #333;
    padding: 30px;
    display: grid;
    font-size: 20px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    background-size: 50%; 
    background-position: bottom right; 
    background-repeat: no-repeat; 
    transition: 0.2s;
}

.projects .box .content p {
    margin-bottom: 20px;
}

.projects .box .content a {
    padding: 8px 20px;
    background-color: var(--main-color);
    font-size: 16px;
    margin-top: 15px;
    color: black;
    border-radius: 2px;
    display: flex;
    width: 120px;
    gap: 5px;
    align-items: center;
}

.projects .box:hover {
    outline: 3px solid var(--main-color);

}

.projects .box:hover h2 {
    color: var(--main-color);
}


.projects .box .content {
    width: 100%;
}

.projects .box .content h2{
    margin: 10px 0;
}

.projects img {
    width: 80px;
    margin-bottom: 18px;
}

.projects .box:nth-child(1) {
    grid: 2fr;
    background-color: #222;
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: initial;
}

.projects .box:nth-child(1):hover {
    outline: none;
}

.projects .box:nth-child(4) {
    background-color: #444;
}

.projects .box:nth-child(4):hover {
    outline: 3px solid var(--main-color);
}

.projects .box:nth-child(7) {
    background-color: #111;
    grid-column-start: 3;
    grid-column-end: 5;
}

